* {
  margin: 0 auto;
  padding: 0px;
}

body {
  background-color: black;
}

#wrapper {
  width: 80%;
  height: 100vh;
  background-color: rgb(27, 27, 27);
}

#menu {
  width: 100%;
  height: 3em;
  border-bottom: 1px solid rgb(53, 53, 53);
}

.startBtn {
  height: 100%;
  padding: 0px 10px;
  font-weight: 700;
  font-size: 1em;
  margin-right: 2rem;
  border: none;
  background-color: greenyellow;
}

.startBtn:hover {
  background-color: rgb(117, 172, 36);
}

.score {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: 700;
  color: white;
}

#gameBoard {
  height: 800px;
  width: 1200px;
  margin-top: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 2px solid rgb(117, 117, 117);
}

.card {
  height: 80px;
  width: 80px;
  margin: 10px;
  background-color: chocolate;
}